form{
    display: flex;
    flex-direction: column;
}

button{
    margin-right: 15px;
    margin-top: 30px;
}

 .save{
    background-color: rgb(8, 111, 151);
}

.cancel{
    background-color: orange;
}