<mat-card>
    <mat-card-title>Deletar  Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Produto"
            [value]="product.name" name="name" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preco"
            [value]="product.price" name="price" disabled>
        </mat-form-field>
    </form>
    <button class="save" mat-raised-button (click)="deleteProduct()" color="warn" >
        Deletar
    </button>
    <button class="cancel" mat-raised-button (click)="cancel()">
        cancelar
    </button>
</mat-card>
